.container {
    width: 65%;
    margin: 0 auto;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}


.container::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 800px) {
    .container-desktop {
        width: 75%;
    }
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigger-spinner {
    width: 70px;
    height: 70px;
}

.top-corner {
    position: relative;
    top: calc(max(env(safe-area-inset-top), 20px) + 7px);
    left: 40px;
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    .top-corner.x {
        left: 0px;
    }
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.title > span {
    display: inline-block;
}

.fake-link {
    color: var(--ion-color-primary, #3880ff);
    cursor: pointer;
}

.margin-bottom-0 {
    margin-bottom: 0;
}