.container {
    width: 55%;
    margin: 0 auto;
    overflow: scroll;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

