.center-summary {
    font-weight: bold;
    padding-top: 70px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
}

.journal-fab {
    bottom: 30px;
    right: calc(30px + var(--ion-safe-area-right, 0px));
    opacity: 0;
    transition: all 0.3s;
}

@media only screen and (max-width: 800px) {
    .journal-fab {
        bottom: 20px;
        right: calc(20px + var(--ion-safe-area-right, 0px));
    }
}

.mood-log-list {
    grid-area: "logs";
    overflow: auto;
    margin: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mood-log-list::-webkit-scrollbar {
    display: none;
}

.week-summary-grid {
    display: grid;
    grid-template-rows: auto 270px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "heading"
        "graph"
        "logs";
    height: 100vh;
    overflow: hidden;
}