.center-summary {
    font-weight: bold;
    padding-top: calc(max(env(safe-area-inset-top), 20px) + 20px);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.journal-fab {
    bottom: 30px;
    right: calc(30px + var(--ion-safe-area-right, 0px));
    opacity: 1;
    animation: fadeIn 0.8s;
}

@media only screen and (max-width: 800px) {
    .journal-fab {
        bottom: 20px;
        right: calc(20px + var(--ion-safe-area-right, 0px));
    }
}

.mood-log-list {
    overflow: auto;
    margin: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-area: logs;
}

.mood-log-list::-webkit-scrollbar {
    display: none;
}

.log-list-expand {
    font-size: 20px;
    place-self: stretch center;
    transition: height 0.3s;
    grid-area: logs;
    z-index: 3;
    width: 100%;
    text-align: center;
    background-color: white;
}

.week-summary-grid {
    display: grid;
    grid-template-rows: auto 200px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "heading"
        "graph"
        "logs";
    height: 100vh;
    overflow: hidden;
    align-content: start;
    position: relative;
}

.container.menu-content {
    transform: none;
}