.center-summary {
    font-weight: bold;
    padding-top: calc(max(env(safe-area-inset-top), 20px) + 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    63% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.journal-fab {
    bottom: 30px;
    right: calc(30px + var(--ion-safe-area-right, 0px));
    opacity: 1;
    animation: fadeIn 0.8s;
}

@media only screen and (max-width: 800px) {
    .journal-fab {
        bottom: 20px;
        right: calc(20px + var(--ion-safe-area-right, 0px));
    }
}

.mood-log-list {
    grid-area: "logs";
    overflow: auto;
    margin: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mood-log-list::-webkit-scrollbar {
    display: none;
}

.week-summary-grid {
    display: grid;
    grid-template-rows: auto 200px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "heading"
        "graph"
        "logs";
    height: 100vh;
    overflow: hidden;
}