.p-inner {
    margin: 8px 0;
}

.question {
    font-size: 19px;
}

.screener-button {
    margin: 6px 0;
}

.screener-container {
    height: 100%;
}

.screener-container div:first-of-type {
    margin-top: auto;
}

.screener-slide {
    height: calc(100% - 75px);
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 12px;
}

.screener-slide::-webkit-scrollbar {
    display: none;
}

.swiper-pagniation-controls {
    font-size: 1.75em;
}

.swiper-pagniation-controls > ion-icon {
    margin: 0 50px;
}