.center-main {
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 600;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop {
    padding-top: 13vh;
}

.title {
    font-size: 2em;
    text-align: center;
}

.fakeTextArea {
    width: 80%;
    height: 300px;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
}

.fakeTextAreaContent {
    padding-left: 20px;
    color: rgb(99, 99, 99);
}

.tx {
    width: 90%;
    font-weight: 400 !important;
    padding: 8px;
    padding-left: 12px;
    border-radius: 20px;
}

.tx .tx-display {
    width: 100%;   
}

.fake-button {
    width: 200px;
    height: 50px;
    background-color: #4B7EF7;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
}

.text-center {
    text-align: center;
}

.bottom-bar {
    z-index: 9000;
    position: fixed;
    bottom: 0;
    left: 22.5%;
    width: 55%;
    height: 140px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 600px) {
    .bottom-bar {
        left: 2.5%;
        width: 95%;
    }
}

.finish-button {
    width: 97%;
    background-color: #4B7EF7;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid gray;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: relative;
    left: calc(50% - 12.5px);
    top: 7px;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}