.center-main {
    font-weight: bold;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop {
    padding-top: 13vh;
}

.title {
    font-size: 2em;
    text-align: center;
}

.center-journal {
    font-weight: bold;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fakeTextArea {
    width: 80%;
    height: 300px;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
}

.fakeTextAreaContent {
    padding-left: 20px;
    color: rgb(99, 99, 99);
}

.tx {
    font-weight: normal;
    width: 90%;
    padding: 8px;
    padding-left: 12px;
    border-radius: 20px;
}

.tx.tx-display {
    margin-top: 0px !important;
    width: 100%;   
}

.fake-button {
    width: 200px;
    height: 50px;
    background-color: #4B7EF7;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
}

.text-center {
    text-align: center;
}

.bottom-bar {
    z-index: 9000;
    position: absolute;
    left: 22.5%;
    width: 55%;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 700px) {
    .bottom-bar {
        left: 2.5%;
        width: 95%;
    }
}

.finish-button {
    width: 97%;
    background-color: #4B7EF7;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.loader {
    position: relative;
    top: 7px;
}

.line1 {
    margin: 16px 0px 5px 0px;
}

.line2 {
    margin: 0px 25px 15px 25px;
}
