.mood-card {
    background-color: rgb(221, 219, 219);
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    min-height: initial;
    margin: 10px 0; 

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "time labels"
      "log log";

    position: relative;
}

.tx.tx-card {
    padding: 0px;
    padding-right: 12px;
}

.tx-card > div > textarea {
    overflow: hidden;
    padding-left: 8px !important;
}

.close-btn {
    position: absolute;
    bottom: 8px;
    right: 20px;
    z-index: 10;
    font-size: 1.2em;
    animation: fadeIn 0.3s;
}
