.notification-editor {
    width: 90%;
    background-color: rgb(221, 219, 219);
    border-radius: 10px;
    margin-bottom: 12px;
    text-align: center;
}

.weekday-selector {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    font-size: 15px;
}

.italics {
    font-style: italic;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.weekday-selectors {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 6px;
}

.notification-edit-buttons {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    margin: 6px;
}