.center-main {
    font-weight: bold;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop {
    padding-top: 13vh;
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.center-journal {
    padding-top: calc(max(env(safe-area-inset-top), 20px) + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fakeTextArea {
    width: 80%;
    height: 300px;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
}

.fakeTextAreaContent {
    padding-left: 20px;
    color: rgb(99, 99, 99);
}

.tx {
    font-weight: normal;
    width: 90%;
    padding: 8px;
    padding-left: 12px;
    border-radius: 20px;
    border: none;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.tx::-webkit-resizer {
    display: none;
}

.tx:focus {
    border: none;
    box-shadow: none;
}

.tx.tx-display {
    margin-top: 0 !important;
    width: 100%;   
}

/* Auto-Resize Textbox */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  width: 90%;
}

.input-sizer.stacked {
  align-items: stretch;
}

.input-sizer.stacked::after,
.input-sizer.stacked input,
.input-sizer.stacked textarea {
  grid-area: 2/1;
}

.input-sizer::after,
.input-sizer input,
.input-sizer textarea {
  width: auto;
  min-width: 1em;
  grid-area: 1/2;
  font: inherit;
  padding: 0.25em;
  margin: 0;
  resize: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}

.input-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}

/* Auto-Resize Textbox end */

.fake-button {
    width: 200px;
    height: 50px;
    background-color: #4B7EF7;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
}

.text-center {
    text-align: center;
}

.bottom-bar {
    z-index: 9000;
    position: absolute;
    left: 22.5%;
    width: 55%;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 700px) {
    .bottom-bar {
        left: 2.5%;
        width: 95%;
    }
}

.finish-button {
    width: 97%;
    background-color: #4B7EF7;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.finish-button:active {
    background-color: #2E6CFC;
}

.loader {
    position: relative;
    top: 7px;
}

.line1 {
    margin: 16px 0 5px;
}

.line2 {
    margin: 0 25px 15px;
    font-weight: normal;
}

#files {
    display: none;
}