<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841063163864-67r650rfj0q8tk4le2h6i9s6afevi07o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841063163864-67r650rfj0q8tk4le2h6i9s6afevi07o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841063163864-fr6aftfafoka699mrjh1fpicb1sbr4e8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtD_SS5BBI34r1m4nAMnRqVnDwh3HKB34</string>
	<key>GCM_SENDER_ID</key>
	<string>841063163864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.getbaseline.baseline</string>
	<key>PROJECT_ID</key>
	<string>getbaselineapp</string>
	<key>STORAGE_BUCKET</key>
	<string>getbaselineapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841063163864:ios:fecf938445f3bbe95334ad</string>
</dict>
</plist>