name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
jobs:
  build and deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MOODY_IONIC }}'
          channelId: live
          projectId: moody-ionic
