name: Build & Integration Testing

on:
  push

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: "16.x"
        cache: "npm"
    - run: npm ci
    - name: Build Tests
      run: |
        npm install -g ionic
        npm run build
        ionic cap sync
    - name: Integration Tests
      run: |
        PORT=8100 npx react-scripts -r @cypress/instrument-cra start &
        sleep 60
        npm run test
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
    - name: Upload Test Video
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: test-video
        path: cypress/videos
    - run: ls
    - name: Upload Test Data
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: coverage
